<!doctype html>
<html ng-app="myApp">
        <meta charset="utf-8">
        <base href="/">
        <div class="container-fluid">
          <h2>Регистрация</h2>
          <form [formGroup]="registrationForm">
            <div class="form-group">
              <label >Имя пользователя</label>
              <input [class.is-invalid]="registrationForm.get('UserName').invalid && registrationForm.get('UserName').touched"
              formControlName="UserName"  type="text" class="form-control">
              <div *ngIf="registrationForm.get('UserName').invalid && registrationForm.get('UserName').touched">
               <small *ngIf="registrationForm.get('UserName').errors?.required" class="text-danger">Введите имя пользователя</small> 
                <small *ngIf="registrationForm.get('UserName').errors?.minlength" class="text-danger">Имя пользователя должно быть не короче 3 символов</small>
                <small *ngIf="registrationForm.get('UserName').errors?.forbiddenName" class="text-danger">Данное имя пользователя недоступно</small>
              </div>
                       </div>
            <div class="form-group">
              <label>Пароль</label>
              <input formControlName="Password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Подтвердите пароль</label>
                <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="ConfirmPassword" type="password" class="form-control">
                <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Пароли не совпадают</small>
              </div>
              <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
          </form>
        </div>
 